<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Now Boarding</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.Airline %></td>
        <td><%= f.Airport %></td>
        <td><%= f.FlightNo %></td>
        <td><%= f.Departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        <!-- finish the ternary expression to display 'Yes' or 'Nope'
        <td><%= f.nowBoarding ? 'Yes' : 'Nope' %></td> -->
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>