<%- include('../partials/header') %>

<section id="show-page">
    <br>
  <div>Airline: <%= flight.Airline %></div>
  <div>Airport: <%= flight.Airport %></div>
  <div>FlightNo: <%= flight.FlightNo %></div>
  <div>Depart: <%= flight.Departs %></div>
  <div>Now Boarding: <%= flight.nowBoarding ? 'Yes' : 'Nope' %></div>
</section>

<!-- new markup below -->
<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/Destinations">
  <label>Destinations:
    <select name="destinations">
      <option value="EWR">EWR</option>
      <option value="ORD">ORD</option>
      <option value="DAL">DAL</option>
      <option value="JFK">JFK</option>
      <option value="MCO">MCO</option>
    </select>
  </label><br>
  <label>Arrival:</label>
  <input type="date" name="Arrival"><br>
  <input type="submit" value="Add Destination">
</form>

<!-- // Create a list of destinationss here -->
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Destination</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(a) { %>
          <tr>
            <td><%= a.createdAt.toLocaleDateString() %></td>
            <td><%= a.destinations %></td>
            <td><%= a.Arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
  
  <%- include('./ticket') %>


  
<%- include('../partials/footer') %> 