<%- include('../partials/header') %>

<section id="show-page">
    <br>
  <div>Airline: <%= flight.Airline %></div>
  <div>Airport: <%= flight.Airport %></div>
  <div>FlightNo: <%= flight.FlightNo %></div>
  <div>Depart: <%= flight.Departs %></div>
  <div>Now Showing: <%= flight.nowBoarding ? 'Yes' : 'Nope' %></div>
</section>
 

<%- include('../partials/footer') %> 