<%- include('../partials/header') %>

<section id="show-page">
    <br>
  <div>Airline: <%= flight.Airline %></div>
  <div>Airport: <%= flight.Airport %></div>
  <div>FlightNo: <%= flight.FlightNo %></div>
  <div>Depart: <%= flight.Departs %></div>
  <div>Now Showing: <%= flight.nowBoarding ? 'Yes' : 'Nope' %></div>
</section>

<!-- new markup below -->
<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/Destinations">
  <label>Destinations:</label>
  <textarea name="Airport"></textarea>
  <label>Arrival:</label>
  <input type="submit" value="Add Destination">
</form>

<!-- // Create a list of destinationss here -->
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(a) { %>
          <tr>
            <td><%= a.createdAt.toLocaleDateString() %></td>
            <td><%= a.Airport %></td>
            <td><%= a.Arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
 

<%- include('../partials/footer') %> 